.courses h1{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.courses {
  margin-left: 20px;
}

.courses ul a +ul {
  max-height:0;
  overflow:hidden;
  transition:0.5s linear;
  }
.courses ul a:focus + ul {
  max-height:15em;
  }
.courses a:focus {
  pointer-events:none;
  }
