<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Notes App</title>
    <link href="/css/App.css" rel="stylesheet" type="text/css">
    <link href="/css/coursess.css" rel="stylesheet" type="text/css">
    <link href="/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/css/sidenavs.css" rel="stylesheet" type="text/css">
    <link href="/css/dialogbo.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" media="screen" href="//cdn.muicss.com/mui-0.9.35/css/mui.css" />
        </head>
  <body>
