<%- include('header') -%>
  <div id="root"><%- initialMarkup -%></div>

  <script type="text/javascript">
    window.initialinfo = <%- JSON.stringify(initialinfo) -%>;
  </script>
<%- include('footer') -%>
